{{master: master}}

<div class="row">
	<h1 class="page-header">{{h1title}}</h1>
	<div class="col-lg-12">
		<form action="/infomails" method="post" class="form-horizontal">
			<fieldset>
				<div class="form-group">
					<label class="col-lg-2 control-label">Empfänger</label>
					<div class="col-lg-8">
						<table>
							{{each p in personen}}
								<tr>
									<td>
										<input type="checkbox" id="c_{{p.id}}" name="c_{{p.id}}" value="1"{{if p.an}} checked{{/if}}> {{p.name}}
									</td>
								</tr>
							{{/each}}
						</table>
					</div>
				</div>
				
				<div class="form-group">
					<label for="kommentar" class="col-lg-2 control-label">Kommentar</label>
					<div class="col-lg-8">
						<input class="form-control" type="text" id="kommentar" name="kommentar">
					</div>
				</div>
			
				<div class="form-group">
					<div class="col-lg-8 col-lg-offset-2">
						<button type="submit" class="btn btn-primary">Infomails versenden!</button>
						<a href="/" class="btn btn-default" style="margin-left: 1em;">Abbruch</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
