<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
	
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/master.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<link rel="icon" sizes="192x192" href="/favicon2.png">
	
	{{if jqueryOben}}<script src="/js/jquery.min.js"></script>{{/if}}
</head>
<body>
	<img src="/favicon2.png" class="geweih"/>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Navigation ein-/ausblenden</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Fander App</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					{{if hasUser}}
						<li><a href="/"><i class="fa fa-home fa-fw"></i> Startseite</a></li>
						<li><a href="/publicnote"><i class="fa fa-bullhorn fa-fw"></i></a></li>
						<li><a href="/myuserdata"><i class="fa fa-user fa-fw"></i> {{user}}</a></li>
						<li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Abmelden</a></li>
					{{/if}}
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container">
		<div class="starter-template">
			{{content}}
		</div>
	</div>
	
	{{if not jqueryOben}}<script src="/js/jquery.min.js"></script>{{/if}}
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/master.js"></script>
</body>
</html>
