* {
	font-family: 'Verdana';
}

body {
	padding-top: 50px;
}

.ntabelle > tbody > tr > td, .ntabelle > tbody > tr > th, .ntabelle > tfoot > tr > td, .ntabelle > tfoot > tr > th, .ntabelle > thead > tr > td, .ntabelle > thead > tr > th {
	padding: 4px;
}

.narrow > tr > td, .narrow > tr > th {
	font-size: 8pt;
}

.notiztabelle > tbody > tr:nth-of-type(2n) {
	background-color: #fcfcfc;
}

.table-hover tr:hover td {
	background-color: #E0E0F0;
}

.dropdown-menu li a {
	font-size: 13pt;
}

.tags {
	color: red;
}

.rand-unten {
	margin-bottom: 2em;
}

.table-hover > tbody > tr.no-hover:hover > td,
.table-hover > tbody > tr.no-hover:hover > th {
    background-color: inherit;
}

.btn-dif {
	margin-right: 1em;
	margin-top: 1em;
}

.wochentag {
	font-weight: bold;
	background-color: #EEE;
	padding-top: 12px !important;
}

.menu td {
	padding: 4px;
}

.menu tr {
	border-bottom: 1px solid black;
}

.titel {
	max-width: 500px;
}

.preis {
	text-align: right;
}

.bestellt td {
	background-color: #e8b078;
}
